.cardForm{
    width: 330px;
    height: 380px;
    box-shadow: 0 2px 4px rgba(1, 23, 4, 1);
    padding: 20px 40px;
    margin: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.cardForm h3{
    text-align: center;
    font-size: 24px;
}

.cardForm form{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardForm form .inputContainer{
    width: 100%;
    height: 30px;
    margin-bottom: 35px;
}

.cardForm form .inputContainer input{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 2px solid gray;
}

.cardForm form .inputContainer .containerBtn-input{
    height: 100%;
    height: 30px;
    position: relative;
}

.cardForm form .inputContainer .containerBtn-input button{
    position: absolute;
    height: 100%;
    height: 35px;
    right: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.cardForm form .btnContainer{
    width: 70%;
}

.cardForm form .btnContainer button{
    width: 100%;
    height: 45px;
    background-color: rgb(24, 106, 248);
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


/*******************NAVBAR*********************/

.navbar{
    width: 100%;
    height: 100px;
    background: rgba(252, 205, 212, 0.368);
    display:  flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-bottom: solid black;
}

.navbar h3{
    padding: 4px 7px;
    border: 2px solid black;
    cursor: pointer;
}

.navbar .profile{
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-right: 27px;
}

.navbar .profile img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid black;
}

.navbar .profile .imgUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.navbar .profile p{
    margin: 0;
    text-align: center;
}

.navbar .profile button{
    background-color: rgb(11, 169, 11);
    width: 130px;
    height: 40px;
    color: white;
    border-radius: 4px;
    border: none;
    color:  white;
    font-weight: 800;
    font-size: 16px;
}